body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
}

/* classes to build your layout */
.column {
	display: block;
	height: 100%;
	width: calc(100%/2);
}
.one-half-row {
	height: 50%;
	width: 100%;
	display:flex;
}
.one-third-row {
	height: calc(100%/3);
	width: 100%;
	display: flex;
}
.box {
	height: 100%;
	width: 50%;
	display:flex;
}

/* colors */
.pink {background-color: #F608AC;}
.navy {background-color: #001621;}
.green {background-color: #748E5E;}
.purple {background-color: #67475C;}
.brown {background-color: #432C1C;}
.light-grey {background-color: #D3D3D3;}
.grey {background-color: #505050;}
.dark-grey {background-color: #282828;}
.black {background-color: #000000;}
.white-smoke {background-color: #F5F5F5;}

/* centering images */
.center-content {
	justify-content: center;
	align-items: center;
}
.center-bottom {
	justify-content: center;
	align-items: flex-end;
}
.contain-image {
	max-height: 90%;
	max-width: 90%;
}

/* hover and active click styling effects */
.pinkblur {
	
}
.pinkblur:hover {
	background-color: #F608AC;
}	
.pinkblur:active {
	filter: blur(5px);
}
.opaque:hover {
	opacity: 0.5;
}
.yes-cursor {
	cursor: pointer;
}
.no-cursor {
	cursor: default;
}
.all-grey {
	filter: grayscale(100%);
}
.shadow {
	filter: drop-shadow(3px 4px 4px);
}
.button-effect { 
    transform: scale(0.95, 0.95);
}
.display-none {
	display: none;
}

/* media query to make your page responsive */
@media screen and (max-width: 1000px) {
	body {
		height: 100%;
		display: block;
	}

	.column {
		height: 50%;
		width: 100%;
	}
}	